.bannerHome{
  border: 2px solid white;
  position: relative;
  left: 5px;
  border-radius: 8px;
  top: 5px;
}

ngb-carousel{
  border: 2px solid blue;
  border-radius: 10px;
  position: relative;
  right: 100px;
  bottom: 40px;
}
